server:
  port: 8091

# 线程池配置
thread:
  pool:
    # 1. 核心业务 DAG 专用
    dag:
      core-pool-size: 50
      max-pool-size: 200
      block-queue-size: 2000
      keep-alive-time: 5000
      name-prefix: "dag-exec-"
      reject-policy: CallerRunsPolicy
    # 2. 消息通知 EventBus 专用
    notify:
      core-pool-size: 5
      max-pool-size: 20
      block-queue-size: 500
      keep-alive-time: 5000
      name-prefix: "event-bus-"
      reject-policy: CallerRunsPolicy
    # 3. 通用异步任务专用
    common:
      core-pool-size: 5
      max-pool-size: 20
      block-queue-size: 500
      keep-alive-time: 5000
      name-prefix: "async-task-"
      reject-policy: CallerRunsPolicy

# 应用配置
app:
  config:
    # 版本，方便通过接口版本升级
    api-version: v1
    # 跨域，开发阶段可以设置为 * 不限制
    cross-origin: '*'
    # SC 渠道配置 - 拼团对接渠道值、回调通知
    group-buy-market:
      api-url: http://127.0.0.1:8091
      notify-url: http://127.0.0.1:8080/api/v1/alipay/group_buy_notify
      source: s01
      chanel: c01


# 数据库配置；启动时配置数据库资源信息
spring:
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://111.228.51.8:13306/group_buy_market?useUnicode=true&characterEncoding=utf8&autoReconnect=true&zeroDateTimeBehavior=convertToNull&serverTimezone=Asia/Shanghai&useSSL=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      pool-name: Retail_HikariCP
      minimum-idle: 15 #最小空闲连接数量
      idle-timeout: 180000 #空闲连接存活最大时间，默认600000（10分钟）
      maximum-pool-size: 25 #连接池最大连接数，默认是10
      auto-commit: true  #此属性控制从池返回的连接的默认自动提交行为,默认值：true
      max-lifetime: 1800000 #此属性控制池中连接的最长生命周期，值0表示无限生命周期，默认1800000即30分钟
      connection-timeout: 30000 #数据库连接超时时间,默认30秒，即30000
      connection-test-query: SELECT 1
    type: com.zaxxer.hikari.HikariDataSource

# MyBatis 配置
mybatis:
  mapper-locations: classpath:/mybatis/mapper/*.xml
  config-location:  classpath:/mybatis/config/mybatis-config.xml
  type-aliases-package: cn.hjw.dev.infrastructure.dao.po


# Redis
redis:
  sdk:
    config:
      host: 111.228.51.8
      port: 16379
      pool-size: 10
      min-idle-size: 5
      idle-timeout: 30000
      connect-timeout: 5000
      retry-attempts: 3
      retry-interval: 1000
      ping-interval: 60000
      keep-alive: true

# 微信公众号对接
weixin:
  config:
    originalid: gh_d64dcc5d0a60
    token: b8b6
    app-id: wx48a01514c5bc10e7
    app-secret: ec0b67f0cbc025c73137f13e342eb62c
    template_id: luFYa6dPjgxv3Adr6tIxeXgxtXT2er2jwSGprZb-S5w


jwt:
  secret: afae98e1bfbd25bbb0549ee4e1e0448003c9fb714d84d45d1b7e9f0e99e8d056
  expire: 7200 # Token有效期（秒）(2小时)

# 支付宝支付 - 沙箱 https://opendocs.alipay.com/common/02kkv7
alipay:
  enabled: true
  app_id: 9021000157621491
  alipay_public_key: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAo4OqPqOlkFX9buHWXdYlrtq3jVPl4Bsk3kpinDihzmjXTnF2rWBOUxmDWQ/caSt76+XqSuEp9ZQHP03Qwog1dq7Kjes46BtlfCyDA4HeMtjtF8QGCZjVCGzFH+mKhygRF+YWSKqakuD56Lkm3mtz8UVn8U1ZgAw5u5MXkqv6OS6AG1YDRBT/kZTHIYwjgR8d1WufJYS9V/SPSQaXTvlSd3eyieI4De+giNcX5e9axY7VBQvjzY1po0MuzHxvOBsHnEV4bTtxORu0CpHX9YufsUYTFjU6cxqNbLr02rpu6JmfX7XOuGALGIt+TvtmHYhL0zGbryjJMx+dcUsLqpqGtQIDAQAB
  merchant_private_key: MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCorrmJGT69v+pUFHWwYC6PvX4+sxPW+BgENGk2msoaJMzpYDerLC3x2L/Zk9jMur2G1ayZGzq2tMQQ25uyYjzQuErYbCpKKPVPWZ0bAqoala9BiYeE6UwdgGdBXdprEVd6CCtduFkOdi5CWyHqG6vzaJGuIVP1tTBXJYogju4Uw7afVyqmFAO/i2jOfP3FLZeKh4RW/+8vIvSv2Auc5WarWvE/7RkzAXdZskCmXGZwwmzWvVvLZSYsWskJNLJUWmQ0nm4KTMKRSVCJrtKO9jPrgsRrnVpRtYNBG1LJJ4jig3uYWzjSlnGXYwDWPpQTD+2JVuRAijabjMwoJfL1s5uLAgMBAAECggEAam8VErSjKgdWTAc82zVVK81dQyKrehDA1qZbXOD+dNCTmw3jElamBtvE8fyf505NGC7q4RCVU4Nr01c+PqhNx0UBtN1LMc/2OUNKJijgPDYGh0vH/s1WAadrf4tArh4bHBzbgB850i4vsh7en2Emdkec5EqTN45EGjjNlw2Ym/B7Gal/Wyev2Qkt7fWHK4eblFNWeg1W3u1kwdtv5l3rhG2KoWMl+FKZJ66O1wqgcc5rURmErkcDweELBVJqpxvbwLleGMuirQqrVb6nr5AhC5G05trFKLox9KD9LMlleEwy+v7Kz19G1+Se5pZ1a+D+HrWxVIBTybZUoVU8JiXZQQKBgQDdoD8bdzmiJ7dWoY3dP1hKh85ANjIyKTeVxeaG+pj5bo4T7bEqmPWiWx7Y85Bj/GF4RQwjzXF6W1cEoUO5PzVfkLVR4tpfKQflRIB/30fAo9IT7nplB6wbXN1E7C3uvJqYlxLY9oZi5D0luvwVfx0jbXIc1UYiXJMCs0HeFiBFHQKBgQDC2FYPQNZAgVZUsb3RIENNuquHsqJZDZ57yspVBz7+VY6EYQ5fQH/pbz/QdfhJ/gTBdhOKpvYV2JysWLQBsNBo852jvjF83AOoYf4ma8hMk8tuODLIGY4FGC1Nne/uO5d+xPL0pauUhjTR+U0eIuPrV7887kCC7I0jGc0RSVnKxwKBgQC5D0oi4Rda89b/m78d8/sBoQz0SUz43bnwcmPgafi6rzosIdpCO59Aht3nQtpa4y9wghd0/eO3y/WJhC9MzB8BQZBmZAr8UwKoyt6R6Bu+HA0bX5MMMa/g2VZaauyf4RUmPWAbkx78DKGSk+RS/uWR453ZvazmnG6VXqGtlMQ1cQKBgQCNZHwfGYfgy3qgf1MlnOn6UAoFsQXK5e0qHCDzzwxReDixq9TIHoA0H70JQ3JoD2PYGB1aMorFk6kuEDigOXUjlBXDK1OyLd6hpGrP6ssxdtbbJwEC4DiFTeQiPQhNswTew4EjM83tO+68qNLjmaIXuFdYmfRKjeplnGWJs9brJQKBgANs5QLoA0L6jTuvYKoT2jqR55FMpksrnQnr/f68N9z76NTV+DjIXk26LYOTcMVfnJsUUpY/5Oii0iNbnpgYd8oQZTgdPZBIyqeGaMsANudqPBuCnXpuVQwHvCsMEJKB67ZDJRW9Bg60lAf2dx2BUnq9hGoiIbQDTvySIE6ncT+O
  gatewayUrl: https://openapi-sandbox.dl.alipaydev.com/gateway.do
  notify_url: http://p7aecbf5.natappfree.cc/api/v1/alipay/alipay_notify_url
  return_url:  http://p7aecbf5.natappfree.cc/success.html



# 日志
logging:
  level:
    root: info
  config: classpath:logback-spring.xml